<?xml version="1.0" encoding="UTF-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="1000000" executionTimeout="1000" />
  </system.web>
  <connectionStrings>
    <add name="mssqlsever" connectionString="Data Source = .;Initial Catalog = DIY_Shop;Integrated Security = True" />
    <add name="DIY_ShopConnectionString" connectionString="Data Source=.;Initial Catalog=DIY_Shop;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>

</configuration>
